html
  head
    title
      if title
        = title
      
      |  - Awesome site
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    nav
      a(href="/") Accueil 

    if flash
      .flash(class="#{flash.type}")
        p= flash.message


    block content