

mixin Video(id)
  iframe(src="//fast.wistia.net/embed/iframe/#{id}" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="860" height="600")
  script(src="//fast.wistia.net/assets/external/E-v1.js" async)